@{
    ViewData["Title"] = "Home Page";
}

<style>
    .containerHome{
        margin-top: 50px;
    }

    .title {
        color: darkblue;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }

    .subtitle {
        color: black;
        text-align: center;
        margin-bottom: 30px;
    }

    .police-badge {
        display: block;
        margin: 0 auto;
        width: 100px;
        height: 100px;
        background: url('https://bussola.s3-eu-west-1.amazonaws.com/99464/polizia%20locale.png') center center no-repeat;
        background-size: cover;
    }
</style>

<div class="containerHome">
    <div class="text-center">
        <h1 class="title display-4">Benvenuto</h1>
        <div class="police-badge"></div>
        <br>
        <h3 class="subtitle">nel portale della</h3>
        <h1 class="title display-4">Polizia Municipale</h1>
    </div>
</div>